body.fixed {
  position: fixed !important;
  overflow-y: hidden !important;
  width: 100% !important;
  height: 100% !important;
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #222;
  font-family: 'Campton', 'Helvetica', 'Arial', 'NanumBarunGothicWeb', '돋움', dotum, 'Apple SD Gothic Neo', applegothic, sans-serif;
  font-weight: 200;
}
html[data-os="Windows"] html,
html[data-os="Windows"] body {
  font-weight: 300;
}
html img:not([src]),
body img:not([src]) {
  visibility: hidden;
}
html a:visited,
body a:visited,
html a:hover,
body a:hover,
html a:active,
body a:active,
html a:link,
body a:link {
  color: #222;
  text-decoration: none;
}
#view_man {
  width: auto;
  background: #fff;
}
#view_man .hide {
  transform: translateY(100px);
}
#view_man #menu {
  position: fixed;
  width: 100%;
  height: 50px;
  display: none;
  transition: transform 1s;
  z-index: 100;
  bottom: 0;
}
#view_man #upload {
  flex: 1;
  background: #f00;
}
#view_man #upload input {
  display: none;
}
#view_man #search {
  flex: 2;
  background: #00f;
  text-align: center;
}
#view_man #search input {
  width: 90%;
  height: 40px;
  outline: none;
  font-size: 20px;
  margin-top: 1px;
}
#view_man #main {
  padding: 10px;
}
#view_man #main .wrapper {
  display: flex;
  justify-content: center;
}
#view_man #main .contents {
  width: 1200px;
  display: flex;
  flex-flow: wrap;
}
#view_man #main .content {
  width: 360px;
  position: relative;
  border: 3px solid transparent;
}
#view_man #main .content .option {
  position: absolute;
  right: 10px;
  top: 10px;
  background: #f00;
}
#view_man #main .content .edit {
  display: none;
}
#view_man #main .content.clicked {
  border: 3px solid #db7093;
}
#view_man #main .item {
  margin: 10px;
  display: flex;
}
#view_man #main .item .body {
  width: 100%;
}
#view_man #main .item .edit_option {
  display: none;
  width: 100%;
}
#view_man #main .item .edit_option >input {
  flex-grow: 1;
}
#view_man #main .item .spec {
  display: flex;
}
#view_man #main .item .spec >div {
  flex-grow: 1;
}
#view_man #main .on_edit .edit_option {
  display: flex;
  width: 100%;
}
#view_man #main .on_edit .edit_option >input {
  flex-grow: 1;
}
#view_man #main .on_edit .spec {
  display: none;
}
#view_man #main .on_edit .spec >div {
  flex-grow: 1;
}
#view_man #main .blocking {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.4;
}
#view_man #main .video {
  position: absolute;
  width: 100%;
  z-index: -1;
  top: 0;
}
#view_man #main .video .option .cancel {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  color: #f00;
  font-size: 25px;
  display: none;
}
#view_man #main .video video {
  width: 100%;
  z-index: -1;
}
#loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #808080;
  display: flex;
  align-items: center;
  z-index: 300;
}
#loading >div {
  width: 100%;
  text-align: center;
  position: absolute;
  height: 40px;
  font-size: 30px;
  font-weight: bolder;
  opacity: 0.5;
}
